* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    -
}

body {
    min-height: 100vh;
    background-image: url(bkg1.png);
    background-position: bottom;
    background-size: cover;
    color: white;
}