* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --default-font-color: white;
    --font-color-link: #C4C4CC;
    --font-color-h1: #E1E1E6;
    --font-color-hover-button: #02799D;
    --default-font: 'Roboto', sans-serif;
}

body {
    color: var(--default-font-color);
    font-family: var(--default-font);
    display: grid;
    place-content: center;
}

nav {
    padding: 40px 72px;
    display: flex;
    gap: 2rem;
    align-items: center;
    position: fixed;
}

nav a {
    color: var(--font-color-link);
    line-height: 1.37rem;
    font-size: 1.41rem;
}

nav a:hover {
    color: var(--default-font-color);
    font-weight: bold;
}

main {
    width: 100vw;
    min-height: 100vh;
    padding: 72px;
    background-image: url(../imgs/bkg1.png);
    background-position: bottom;
    background-size: cover;
    display: grid;
    align-content: center;
    justify-items: center;
    gap: 24px;
}

main h1 {
    color: var(--font-color-h1);
    font-size: 48px;
    line-height: 125%;
}

main button {
    cursor: pointer;
    background: none;
    border: 2px solid var(--default-font-color);
    border-radius: 5px;
    padding: 12px 32px;
    color: var(--default-font-color);
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
}

main button:hover {
    background: var(--default-font-color);
    color: var(--font-color-hover-button);
}

/*Estilização universe.html e exploration.html*/

main#universe {
    background-image: url(./imgs/bkg2.png);
    justify-items: flex-start;
}

main#exploration {
    background-image: url(./imgs/bkg3.png);
    justify-items: flex-start;
}

p.text-about {
    width: 648px;
    font-size: 18px;
    line-height: 160%;
}