* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --default-font-color: white;
    --font-color-link: #C4C4CC;
    --font-color-h1: #E1E1E6;
    --font-color-hover: #02799D;
    --default-font: 'Roboto', sans-serif;
}

body {
    color: var(--default-font-color);
    font-family: var(--default-font);
    display: grid;
    place-content: center;
}

nav {
    padding: 2.5rem 4.5rem;
    display: flex;
    gap: 2rem;
    align-items: center;
    position: fixed;
}

nav a {
    color: var(--font-color-link);
    line-height: 1.37rem;
    font-size: 1.41rem;
}

nav a:hover {
    color: var(--default-font-color);
    font-weight: bold;
}

main {
    width: 100vw;
    min-height: 100vh;
    padding: 4.5rem;
    background-image: url(../imgs/bkg1.png);
    background-position: bottom;
    background-size: cover;
    display: grid;
    align-content: center;
    justify-items: center;
    gap: 1.5rem;
}

main h1 {
    color: var(--font-color-h1);
    font-size: 3rem;
    line-height: 125%;
}

a.know-more {
    cursor: pointer;
    background: none;
    border: 0.12rem solid var(--default-font-color);
    border-radius: 0.31rem;
    padding: 0.75rem 2rem;
    color: var(--default-font-color);
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 0.87rem;
    line-height: 1.5rem;
}

a.know-more:hover {
    background: var(--default-font-color);
    color: var(--font-color-hover);
}

/*Estilização universe.html e exploration.html*/

main#universe {
    background-image: url(../imgs/bkg2.png);
    justify-items: flex-start;
}

main#exploration {
    background-image: url(../imgs/bkg3.png);
    justify-items: flex-start;
}

main#error {
    background-image: url(../imgs/bkg4.jpg);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main#error h1 {
    width: 25rem;
    border: .5rem solid var(--default-font-color);
    color: red;
    text-align: center;
    font-size: 6rem;
}

main#error h2 {
    width: 25rem;
    border: .5rem solid var(--default-font-color);
    color: red;
    text-align: center;
    font-size: 6rem;
}

p.text-about {
    width: 40.5rem;
    font-size: 1.12rem;
    line-height: 160%;
}